head
    title= pageTitle
    link(rel='stylesheet', href='../css/main.css')
    link(rel='stylesheet', href='../js/vendor/slick/slick.css')
    link(rel='stylesheet', href='../js/vendor/slick/slick-theme.css')


